{% extends 'base.html' %}
{% block content %}

<h2>Register</h2>
{% if error %}
{{ error }}
{% endif %}

<form action="{% url 'login' %}" method="post" style="border:1px solid #ccc">
  {% csrf_token %}
  <div class="container">
    <h1>Login</h1>
    <p>Please Login</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="username" required><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>


    <div class="clearfix">

      <button type="submit" class="signupbtn" value="Login">Login</button>
    </div>
  </div>
</form>


{% endblock %}